/* --------CSS RESET ----------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------END OF CSS RESET--------*/

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    width:100%;
}

html {
    display: table;
    margin: auto;
}

.page_header {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    height: 4em;
}

#dateToday {
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
}

.shelf-header{
    text-align: center;
    font-weight: 700;
}

/*center vertically*/
/*body {*/
/*    display: table-cell;*/
/*    vertical-align: middle;*/
/*}*/

.page_header {
    background-color: #3b9fe2;
    width: 100%;
    text-align: center;
}

.content {
    width: 99%;
    margin: auto;
}

.discount {
    color: #fff;
    background-color: #ff7900;
    font-size: 15px;
    border-radius: 0 0 2px 2px;
    margin: auto;
    width: 100px;
    padding: 2px;
    margin-top: 10px;
    text-align: center;
}

.shelf {
    display: block;
    text-align: center;
    padding-top: 20px;
}

#shelf_discount {
    border: 3px solid green;
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: block; */
    /* vertical-align: top; */

}

#shelf_no_discount {
    border: 3px solid red;
}

.img {
    width: 130px;
    height: 130px;
}

.product-box{
    display: inline-block;
    /* justify-content:center;
    align-items:center; */
    border: solid black 1px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 2.5%;
    width: 10em;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

#shelf_discount > .product-box {
    height: 310px;
}

#shelf_no_discount > .product-box {
    height: 260px;
}

#no-discount-img {
    position: absolute;
    bottom: 50px;
    left: 1em;
}

a {
    color: black;
    text-decoration: none; 
}

.tag {
    position: absolute;
    bottom: 15px;
    left: 2em;
    font-weight: 500;
    font-size: 1.4em;
}

@media screen and (max-width: 600px) 
{
    #shelf_discount, #shelf_no_discount
    {
        max-width: 100%;
    }
}
